body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  background-color: rgb(69, 148, 79);

}

h1 {
  color: rgb(151, 25, 25);
  font-size: 30px;
}

h2 {
  font-style: bold;
  color: rgb(80, 31, 31);
  font-size: 20px;

}

p {
  font-style: italic;

}

ol {
  text-align: left;

}

ul {
  text-align: left;
}